@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
}
.container-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
}
.logo{
    width: 11em;
    height: 2.5em;
}
hr{
  border: 1px solid #f5f6f7;
}

.list{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0 auto;
}
a{
text-decoration: none;
}
.links{
    font-weight: 700;
    font-size: 19px;
}
li:nth-child(1) .links {
  color: #C3170C;
}
li:nth-child(2) .links {
  color: #1E4B9B;
}
li:nth-child(3) .links {
  color: #006766;
}
li:nth-child(4) .links {
  color: #07AA47;
}
li:nth-child(5) .links {
  color: #E3662B;
}
li:nth-child(6) .links {
  color: #FB0735;
}
li:nth-child(7) .links {
  color: #FF75BB;
}
li:nth-child(8) .links {
  color: #EC7D00;
}
li:nth-child(9) .links {
  color: #323333;
}
li:nth-child(10) .links {
  color: #A81D83;
}
.main-page{
  width: 1250px;
  margin: 0 auto;
}
.left-container{
  display: flex;
}